name: CI
on:
    push: 
        branches: [main]
        paths-ignore:
        - 'k8s-manifests/**'
permissions:
  contents: read
  packages: write

env:
  VERSION: v25.11.2

jobs:
    build:
        runs-on: ci-foto
        steps:
        - name: Checkout code
          uses: actions/checkout@v4
        
        - name: Login to GitHub Container Registry
          run: |
            echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
            
        - name: Build and tag
          run: |
            docker build -t ghcr.io/${{ github.repository }}:${{ env.VERSION }} .
            docker tag ghcr.io/${{ github.repository }}:${{ env.VERSION }} ghcr.io/${{ github.repository }}:latest
            
        - name: Push
          run: |
            docker push ghcr.io/${{ github.repository }}:${{ env.VERSION }}
            docker push ghcr.io/${{ github.repository }}:latest